<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if title %}
       &ndash; lispheroku
    {% else %}
      lispheroku
    {% endif %}
  </title>
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/scripts.js"></script>
</head>
